.container {
  min-height: 100dvh;
  min-width: 100dvw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
